body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-title {
  margin-top: 8px;
  margin-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.image-text {
  background-color: rgba(132, 235, 146, 0.473);
  display: flex;
  flex-direction: column;
  color: white;
  gap: 16px;
}

.text {
  padding: 0;
  margin: 0;
}

.background-image {
  background-image: url(./images/alfons-morales-YLSwjSy7stw-unsplash.jpg);
  height: 200px;
}

.wrapper {
  max-width: 800px;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;  
}

.wrapper-form {
  max-width: 800px;
  margin-right: auto;
  padding-left: 32px;
}

.blurb {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 8px;
}

.sign-up-form-container {
  background-color: rgb(236, 243, 241);
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 32px;
}

.sign-up-form,
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-input {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding-top: 16px;
  padding-bottom: 32px;
  box-shadow: 0px -8px 8px -8px rgb(201, 201, 201), 0px 12px 8px -6px rgb(201, 201, 201);
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sign-up-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

input {
  all: unset;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="tel"] {
  width: calc(100vw - 64px);
  padding: 4px 8px;
  box-sizing: border-box;
  border: 1px solid rgb(145, 151, 147);
  border-radius: 6px;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
  border: 1px solid rgb(87, 172, 132);
  box-shadow: 0px 0px 4px rgb(63, 134, 101);
}

.error[required=""] {
  border: 1px solid rgb(255, 64, 64);
  box-shadow: 0px 0px 4px rgb(255, 64, 64);
}

input[type="submit"] {
  border: 1px solid rgb(145, 151, 147);
  border-radius: 5px;
  padding: 6px 24px;
  background-color: rgb(193, 224, 210);
  font-weight: bold;  
}

input[type="submit"]:focus {
  outline: 2px solid rgb(87, 172, 132);
  border: 1px solid rgb(87, 172, 132);
}

input[type="submit"]:hover {
  background-color: rgb(240, 255, 248);
  cursor: pointer;
}

.error-message {
  color: rgb(255, 64, 64);
  font-size: 12px;
}

@media only screen and (min-width: 800px) {
  input[type="email"],
  input[type="text"],
  input[type="password"],
  input[type="tel"] {
    width: 300px;
  }

  .container {
    flex-direction: row;
    height: auto;
  }

  .background-image {
    height: auto;
    width: 350px;
  }

  .form-row {
    flex-direction: row;
    gap: 32px;
  }

  .sign-up-form-container {
    flex: 1;
    min-height: 100vh;
  }

  .sign-up-form-container > .blurb {
    margin-top: auto;
  }

  .sign-up-form-container > .sign-up-form {
    margin-bottom: auto;
  }
  
}
